<ion-header>
  <ion-toolbar class="tool-bar">
    <ion-buttons slot="start">
      <ion-back-button routerLink="/members/home"></ion-back-button>
    </ion-buttons>
    <ion-buttons *ngIf="transferData" slot="end">
      <ion-button class="aceptar" (click)="sendProducts()">Aceptar</ion-button>
    </ion-buttons>
    <ion-title>Transfer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row *ngIf="!transferData">
    <ion-col>
      <h6>Ingresa un numero de orden de transferencia.</h6>
      <form (ngSubmit)="getOrden()">
        <ion-input class="input-recepcion" placeholder="Orden De Transferencia" type="number" [(ngModel)]="transferRequestDocNum"
          name="transferRequestDocNum">
        </ion-input>
        <ion-button type="submit" class="search-order-button" expand="full">
          Buscar
        </ion-button>
      </form>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="transferData">
    <ion-col>
      <h6>Datos de Almacen Receptor</h6>
      <ion-item lines="none" class="container-item">
        Solicitud: {{transferData.DocNum}}<br>
        Almacen de Salida: {{transferData.Filler}} <br>
        Almacen Receptor: {{transferData.ToWhsCode}}
      </ion-item>
    </ion-col>
  </ion-row>

  <div *ngIf="transferData">
    <h6>Productos</h6>

    <ion-item lines="none">
      <ion-label>Modo de busqueda</ion-label>
      <ion-toggle [(ngModel)]="searchType"></ion-toggle>
    </ion-item>

    <ion-row *ngIf="!searchType">
      <!-- <ion-col size="2.5">
        <div class="search-order-product">
          <ion-input class="input-recepcion" placeholder="Ctd" [(ngModel)]="ctd" name="ctd">
          </ion-input>
        </div>
      </ion-col> -->
      <ion-col>
        <div class="search-order-product">
          <ion-input class="input-recepcion" placeholder="Codigo de Producto" [(ngModel)]="search" name="search">
          </ion-input>
          <ion-button class="search-order-button"  (click)="searchProductByCode()">
            Buscar
          </ion-button>
        </div>
      </ion-col>
    </ion-row>

    <!-- <ion-row *ngIf="searchType">
      <ion-col>
        <div class="search-order-product">
          <ion-input class="input-recepcion" placeholder="Tarima" [(ngModel)]="tarima" name="tarima">
          </ion-input>
        </div>
      </ion-col>
    </ion-row> -->

    <ion-row *ngIf="searchType">
      <!-- <ion-col size="2">
        <div class="search-order-product">
          <ion-input class="input-recepcion" placeholder="Ctd" [(ngModel)]="ctd" name="ctd">
          </ion-input>
        </div>
      </ion-col> -->
      <ion-col>
        <ion-input id="input-codigo" class="input-recepcion" placeholder="Codigo de Barra"
          (ionChange)="searchProductByCb()" [(ngModel)]="search" debounce="200" name="search">
        </ion-input>
      </ion-col>
    </ion-row>

    <ion-row class="table">
      <ion-col size="3">
        ItemCode
      </ion-col>
      <ion-col size="5.5">
        Description
      </ion-col>
      <ion-col size="2">
        Qty
      </ion-col>
      <ion-col size="1.5">
        UM
      </ion-col>
    </ion-row>

    <ion-row class="text-content" *ngFor="let products of transferData.Lines; let index = index"
      (click)="products.LineStatus == 'O' && goToProductPage(index)"
      [ngStyle]="{ 'color': products.LineStatus === 'C' ? 'green': 'black' }">
      <ion-col size="3">
        {{products.ItemCode}}
      </ion-col>
      <ion-col size="5.5">
        {{products.ItemName}}
      </ion-col>
      <ion-col size="2">
        {{products.OpenQty | number}} / {{products.count | number}}
      </ion-col>
      <ion-col size="1.5">
        {{products.UomCode}}
      </ion-col>
    </ion-row>
    <!-- <ion-row>
      <ion-col>
        <ion-button class="search-order-button" shape="round" expand="block" (click)="sendProducts()">
          Transferir
        </ion-button>
      </ion-col>
    </ion-row> -->
  </div>


</ion-content>