ion-content{
  --background: #e6eced;
} 

ion-toolbar.tool-bar{
     --background: #160ff2;
     --color: #ffffff;
}

ion-row.table{
     background:  #160ff2;
     color: #ffffff;
     font-family: 'Franklin Gothic Medium';
}

ion-row.text-content{
     font-family: 'Franklin Gothic Medium';
}

ion-button.send{
     --background:  #160ff2;
}

h6{
     font-family: 'Franklin Gothic Medium';
}