<ion-header>
  <ion-toolbar class="tool-bar">
    <ion-buttons slot="start">
      <ion-back-button routerLink="/members/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Ubicar Tarima</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row>
    <ion-col>
      <h6>Escanea un codigo de barra de tarima para buscar.</h6>
      <ion-input class="form-tarima " placeholder="Ingresa Codigo Master" clearInput [(ngModel)]="masterTarima"
        name="masterTarima" (ionChange)="searchCM($event)" debounce="500">
      </ion-input>
    </ion-col>
  </ion-row>


  <ion-row *ngIf="product">
    <ion-col>
      <h6>Datos de Producto</h6>
      <ion-item lines="none" class="item-format">
        <div class="text-format">
          Codigo Protevs
          <br>
          <span>{{product.codigo_protehus}}</span>
          Codigo de Barra
          <br>
          <span>{{product.codigoBarras}}</span>
          Cantidad de Cajas
          <br>
          <span>{{product.cantidad}}</span>
        </div>
      </ion-item>
    </ion-col>
  </ion-row>

  <form (ngSubmit)="ubicarTarima()" *ngIf="product">
    <ion-row>
      <ion-col>
        <h6>Escanea un codigo de rack.</h6>
        <ion-input class="form-tarima" placeholder="Ingresa Codigo de Rack" [(ngModel)]="codeRack" name="codeRack">
        </ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button shape="round" expand="full" class="search-button" type="submit">Ubicar</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>

<ion-footer>
  <ion-toolbar color="dark">
    <ion-buttons slot="start" routerLink="/members/home">
      <ion-button>
        <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="chatbubbles"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>