<ion-header>
  <ion-toolbar class="tool-bar">
    <ion-buttons slot="start">
      <ion-back-button routerLink="/members/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Armado de Tarimas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form (ngSubmit)="searchProduct()">

    <ion-row>
      <ion-col>
        <h6>Escanea un codigo de barra de producto a buscar.</h6>
        <ion-input class="form-tarima" placeholder="Ingresa Codigo de Barra" [(ngModel)]="codeBar" name="codeBar">
        </ion-input>
      </ion-col>
    </ion-row>

    <ion-button type="submit" class="search-button" expand="full" shape="round">
      <ion-icon name="search"></ion-icon> BUSCAR
    </ion-button>

  </form>

  <ion-row *ngIf="product">
    <ion-col>
      <h6>Datos de Producto</h6>
      <ion-item lines="none" class="container-item">
        Codigo Prothevs: {{product.codigoProtevs}}<br>
        Nombre: {{product.name}}
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="product">
    <ion-col>
      <h6>Ingresa la cantidad en cajas a tarimar.</h6>
      <ion-input placeholder="Cantidad" class="form-tarima" shape="round" expand="full" type="number"
        [(ngModel)]="cantidad"></ion-input>
    </ion-col>

    <ion-col *ngIf="product.lote != 0">
      <h6>Ingresa lote de producto a tarimar.</h6>
      <ion-input class="form-tarima" placeholder="Ingresa Lote" [(ngModel)]="lote" name="lote"></ion-input>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="product">
    <ion-col>
      <ion-button *ngIf="product" shape="round" expand="full" color="danger" routerLink="/members/home">
        Cancelar
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button class="search-button" *ngIf="product" shape="round" expand="full" (click)="armarTarima()">
        Armar Tarima
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>

<ion-footer>
  <ion-toolbar color="dark">
    <ion-buttons slot="start" routerLink="/members/home">
      <ion-button>
        <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="chatbubbles"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>