<ion-header>
  <ion-toolbar class="tool-bar">
    <ion-buttons slot="start">
      <ion-back-button routerLink="/members/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Inventario Completo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h6>Seleccione una orden a inventariar.</h6>
  <ion-list class="list-format">
    <ion-item lines="none" class="item-format" *ngFor="let orders of inventory_orders; let index = index">
      <div class="text-format">Numero de Folio
        <br>
        <span>{{orders.id}}</span>
        Usuario
        <br>
        <span>{{orders.user_id}}</span>
      </div>
      <ion-button class="forward-button" (click)="goToOrderDetail(index)">
        <ion-icon slot="icon-only" name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button routerLink="/members/home">
        <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="chatbubbles"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>