ion-content{
  --background: #e6eced;
} 

ion-toolbar.tool-bar{
     --background: #160ff2;
     --color: #ffffff;
}

ion-list.list-format{
    background: #e6eced;
}

ion-item.item-format{
    border: 2px solid #000000;
    border-color: #86c1d1;
    border-radius: 4px;
    font-family: 'Franklin Gothic Medium';
    margin-top: 4px;
}

ion-button.forward-button{
    position: absolute;
    right:    0;
    height: -webkit-fill-available;
    width: 50px;
    margin-top: auto;
    margin-right: auto;
    --background: #160ff2;
    --color: #ffffff;
}

div.text-format{
     color: #160ff2;
     font-size: 14px;
     font-weight: bold;
}

div span{
    display: table;
    color: #000000;
    font-size: 12px;
    font-weight: normal;
}

h6{
     font-family: 'Franklin Gothic Medium';
     padding-left: 5px;
}