<ion-header>
  <ion-toolbar class="tool-bar">
    <ion-buttons slot="start">
      <ion-back-button routerLink="/members/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Registro de Codigos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row *ngIf="!product">
    <ion-col>
      <h6>Ingresa codigo de producto.</h6>
      <form (ngSubmit)="getProducto()">
        <ion-input class="input-recepcion" placeholder="Codigo de Producto" [(ngModel)]="number" name="number">
        </ion-input>
        <ion-button type="submit" class="search-order-button" expand="full">
          Buscar
        </ion-button>
      </form>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="product">
    <ion-col>
      <h6>Datos de Producto</h6>
      <ion-item lines="none" class="container-item">
        Nombre: {{product.products.ItemName}}<br>
        codigo: {{product.products.ItemCode}}<br>
      </ion-item>
    </ion-col>
  </ion-row>



  <ion-row *ngIf="product">
    <ion-col>
      <h6>Selecciona Unidad de Medida</h6>
      <ion-select class="product-scann" [(ngModel)]="uomentry">
        <ion-select-option *ngFor="let uom of product.uom" value="{{uom.UomEntry}}">{{uom.UomCode}}</ion-select-option>
      </ion-select>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="product">
    <ion-col>
      <h6>Escanea el Codigo de Barra</h6>
      <ion-input class="input-recepcion" placeholder="Codigo de Barra" [(ngModel)]="Cb" name="Cb">
      </ion-input>
    </ion-col>
  </ion-row>


  <ion-row *ngIf="product">
    <ion-col>
      <ion-button class="search-order-button" expand="full" (click)="registerBox()">
        Registrar
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>

<ion-footer>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button routerLink="/members/home">
        <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="chatbubbles"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>