<ion-header>
  <ion-toolbar class="tool-bar">
    <ion-buttons slot="start">
      <ion-back-button routerLink="/members/surtido-sap"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button class="aceptar" (click)="submit()">Aceptar</ion-button>
    </ion-buttons>
    <ion-title>Surtido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row *ngIf="productData">
    <ion-col>
      <h6>Datos de Producto</h6>
      <ion-item lines="none" class="container-item">
        Item Code: {{productData.ItemCode}}<br>
        Descripcion: {{productData.ItemName}}
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <h6>Escanea codigo de barra de producto.</h6>
      <ion-input class="product-scann" id="input-codigo" placeholder="Codigo de Barra" [(ngModel)]="codigoBarra"
        name="codigoBarra" (ionChange)="getDataFromCodeBar()" clearInput debounce="200">
      </ion-input>
    </ion-col>
  </ion-row>

  <h6>Cajas Escaneadas: {{cantidadEscaneada}}</h6>
  <h6>Peso Escaneado: {{cantidadPeso | number}}</h6>

  <h6>Surtiendo</h6> 
  <ion-row class="table">
    <ion-col size="5">
      Lote
    </ion-col>
    <ion-col size="3">
      Cantidad
    </ion-col>
    <ion-col size="3">
      UoM
    </ion-col>
  </ion-row>

  <ion-row class="text-content" *ngFor="let delivery of detail; let index = index" (click)="promptLote(index)" >
    <ion-col size="5">
      {{delivery.Code}}
    </ion-col>
    <ion-col size="3">
      {{delivery.Quantity | number }}
    </ion-col>
    <ion-col size="3">
      {{delivery.uomCode}}
    </ion-col>
  </ion-row>
</ion-content>

<ion-footer>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button routerLink="/members/home">
        <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="promptCodeDesc()">
        <ion-icon slot="icon-only" name="barcode"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
