<ion-header>
  <ion-toolbar class="tool-bar">
    <ion-buttons slot="start">
      <ion-back-button routerLink="/members/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Productos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row *ngIf="!inventory">
    <ion-col>
      <ion-item lines="none">
        <ion-label>Modo de busqueda</ion-label>
        <ion-toggle [(ngModel)]="searchType"></ion-toggle>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="!inventory && !searchType">
    <ion-col>
      <h6>Escanea Codigo de Barra de Abarrote</h6>
        <ion-input class="input-recepcion"
        placeholder="Codigo de Producto"
        [(ngModel)]="CbAbarrote" name="CbAbarrote"
        (ionChange)="searchProductByCb()"
        debounce="200">
        </ion-input>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="!inventory && searchType">
    <ion-col>
      <h6>Escanea Codigo de Barra de Carne</h6>
      <ion-input class="input-recepcion"
      placeholder="Codigo de Producto"
      [(ngModel)]="CbCarne" name="CbCarne"
      (ionChange)="searchProductByCbBeef()"
      debounce="200">
      </ion-input>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="inventory">
    <ion-col>
      <h6>Datos de Producto</h6>
      <ion-item lines="none" class="container-item">
        Codigo SAP: {{inventory.ItemCode}}<br>
        Nombre: {{inventory.ItemName}}<br>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="inventory">
    <ion-col>
      <h6>Seleccionar Lista de Precio</h6>
      <ion-select value="1" class="product-scann" [(ngModel)]="priceId" (ionChange) = "updatePrice()">
        <ion-select-option  *ngFor="let list of priceList" value= "{{list.ListNum}}">{{list.ListName}}</ion-select-option>
      </ion-select>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="inventory">
    <ion-col>
      <h6>Seleccionar Unidad de Medida</h6>
      <ion-select class="product-scann" [(ngModel)]="uom" name="uom">
        <ion-select-option  *ngFor="let uom of inventory.uom" [value]="uom">{{uom.UomCode}}</ion-select-option>
      </ion-select>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="inventory">
    <ion-col>
      <ion-item lines="none" class="container-item">
        SUCURSAL: {{inventory.WhsCode}} <br>
        STOCK: {{inventory.OnHand / uom?.BaseQty | number}} {{uom?.UomCode}}<br>
        PRECIO: {{inventory.Price}} {{inventory.Currency}}<br>
      </ion-item>
    </ion-col>
  </ion-row>

</ion-content>
