<ion-header>
  <ion-toolbar class="tool-bar">
    <ion-buttons slot="start">
      <ion-back-button routerLink="/members/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Productos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row *ngIf="!inventory">
    <ion-col>
      <h6>Ingresa codigo de producto.</h6>
      <form (ngSubmit)="getProducto()">
        <ion-input class="input-recepcion" placeholder="Codigo de Producto" [(ngModel)]="number" name="number">
        </ion-input>
        <ion-button type="submit" class="search-order-button" expand="full">
          Buscar
        </ion-button>
      </form>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="inventory">
    <ion-col>
      <h6>Datos de Producto</h6>
      <ion-item lines="none" class="container-item">
        Nombre: {{inventory.products.ItemName}}<br>
        codigo: {{inventory.products.ItemCode}}<br>
        Peso Promedio: {{inventory.products.U_IL_PesProm}}
      </ion-item>
      -----------------------------------------------------------------
    </ion-col>
  </ion-row>

  <ion-row *ngIf="inventory">
    <ion-col>
      <ion-select (ionChange)="selectSucursal()" class="product-scann" placeholder="Selecciona Sucursal"
        [(ngModel)]="sucursal">
        <ion-select-option *ngFor="let sucursal of sucursales" value="{{sucursal.WhsCode}}">{{sucursal.WhsName}}
        </ion-select-option>
      </ion-select>
    </ion-col>
  </ion-row>

  <ion-row class="table">
    <ion-col size="3">
      Sucursal
    </ion-col>
    <ion-col size="5.5">
      Description
    </ion-col>
    <ion-col size="2">
      Qty
    </ion-col>
    <ion-col size="1.5">
      UM
    </ion-col>
  </ion-row>

  <div *ngIf="productInfo">
    <ion-row *ngFor="let prod of productInfo.stocks">
      <ion-col>
        <ion-item lines="none" class="container-item">
          Stock: {{prod.quantity | number}} - {{prod.Uom}}<br>
        </ion-item>
      </ion-col>
    </ion-row>
  </div>

</ion-content>93