<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid text-center>
    <ion-row>
      <ion-col>
        <img  src="../../../assets/img/worker.png" alt="">
        <div class="myOverlay">
            <div class="card-title">&nbsp;</div>
            <div class="card-subtitle">Jaime Duende Operador Linea 1 y 2</div>
         </div>
      </ion-col>
    </ion-row>
    <ion-row style="padding:5%;margin:5%">
      <ion-col>
        <img style="height:25px;width:25px;" src="../../../assets/icon/students-icon.png" alt=""><br>
        1445<br>
        Pedidos
      </ion-col>
      <ion-col>
        <div>
          <img style="height:25px;width:25px;" src="../../../assets/icon/reviews-icon.png" alt=""><br>
          10<br>
          Comentarios
        </div>
      </ion-col>
      <ion-col>
        <div>
          <img style="height:25px;width:25px;" src="../../../assets/icon/path.png" alt=""><br>
          12<br>
          Quejas
        </div>
      </ion-col>
    </ion-row>
    <ion-row style="background-color:#E2EEF1;">
      <ion-col text-center size="12">
        Seleccione Almacen
      </ion-col>
    </ion-row>
    <ion-row style="background-color:#E2EEF1;">
      <ion-col size="6">
        <ion-card color="light" style="padding:10%;margin: 8%" (click)='goToHome()'>
          <img style="height:100px;width:100px;" src="../../../assets/icon/ccfn.png" alt="">
          <ion-card-header>
            <ion-card-subtitle>Subtitulo</ion-card-subtitle>
            <ion-card-title style="font-size:15px">CCFN</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Numerito</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card color="light" style="padding:10%;margin: 8%">
          <img style="height:100px;width:100px;" src="../../../assets/icon/sc.png" alt="">
          <ion-card-header>
            <ion-card-subtitle>Subtitulo</ion-card-subtitle>
            <ion-card-title style="font-size:15px">SuperChivas</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Numerito</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row style="background-color:#E2EEF1;">
      <ion-col size="6">
        <ion-card color="light" style="padding:10%;margin: 8%" (click)='goToHome()'>
          <img style="height:100px;width:100px;" src="../../../assets/icon/ccfn.png" alt="">
          <ion-card-header>
            <ion-card-subtitle>Subtitulo</ion-card-subtitle>
            <ion-card-title style="font-size:15px">CCFN</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Numerito</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card color="light" style="padding:10%;margin: 8%">
          <img style="height:100px;width:100px;" src="../../../assets/icon/sc.png" alt="">
          <ion-card-header>
            <ion-card-subtitle>Subtitulo</ion-card-subtitle>
            <ion-card-title style="font-size:15px">SuperChivas</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Numerito</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar color="dark">
    <ion-buttons slot="start" routerLink="/members/profile">
      <ion-button>
        <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="chatbubbles"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>