ion-content ion-button{
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 1%;
    padding-right: 1%;
    width: 70%;
    height: 200px;
}

.button-inner {
    flex-flow: column;
  }

  .myOverlay{
    width: 100%;
    height: 60px;
    position: absolute;
    z-index: 99;
    bottom: 0px;
    opacity: 0.5;
    background: #000;
    color: #fff;

}
