ion-content{
    --background: #e6eced;
  } 

  ion-toolbar.tool-bar{
    --background: #160ff2;
    --color: #ffffff;
}

ion-input.input-recepcion{
    border: 2px solid #000000;
  //   border-radius: 5pc;
    margin-bottom: 5px;
    border-color: #86c1d1;
    --background: #ffffff;
}

ion-select.product-scann{
    border: 2px solid #000000;
    border-radius: 5pc;
    margin-bottom: 5px;
    border-color: #86c1d1;
    --background: #ffffff;
}

ion-datetime.product-scann {
    border: 2px solid #000000;
    border-radius: 5pc;
    margin-bottom: 5px;
    border-color: #86c1d1;
    --background: #ffffff;
  }

  ion-button.search-order-button{
    --background: #160ff2;
}

h6{
    font-family: 'Franklin Gothic Medium';
}