<ion-content>
  <br><br>
  <ion-row style="background: #C8D6D7">
    <ion-col size="4">
      Cliente
    </ion-col>
    <ion-col size="2">
      Hora llegada
    </ion-col>
    <ion-col size="2">
      Hora Salida
    </ion-col>
    <ion-col size="4">
      Firma
    </ion-col>
  </ion-row>

  <ion-row *ngFor="let client of clients">
    <ion-col size="4">
      {{client.A1_NREDUZ}}
    </ion-col>
    <ion-col size="2">
      {{client.D2_QTSEGUM}} --hora
    </ion-col>
    <ion-col size="2">
      {{client.D2_QUANT}} --hora
    </ion-col>
    <ion-col size="4">
      {{client.D2_COD}} -- firma
    </ion-col>
  </ion-row>

</ion-content>