<ion-header>
  <ion-toolbar class="tool-bar">
    <ion-buttons slot="start">
      <ion-back-button routerLink="/members/recepcion-sap"></ion-back-button>
    </ion-buttons>
    <ion-title>Recepcion de Mercancia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row *ngIf="productData">
    <ion-col>
      <h6>Datos de Producto</h6>
      <ion-item lines="none" class="container-item">
        Codigo: {{productData.Detail.ItemCode}}<br>
        Descripcion: {{productData.Detail.ItemName}}<br>
        Ctd Pendiente: {{productData.OpenQty}} {{productData.UomCode}}
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <h6>Seleccionar Una Unidad de Medida</h6>
      <ion-select class="product-scann" [(ngModel)]="uom" name="uom">
        <ion-select-option *ngFor="let um of productData.Uoms" [value]="um">{{um.UomCode}}</ion-select-option>
      </ion-select>
    </ion-col>
  </ion-row>


  <ion-row>
    <ion-col>
      <h6>Ingresar cantidad a recibir</h6>
      <ion-input class="product-scann" [(ngModel)]="cantidad" name="cantidad" type="number"
        placeholder="Ingresa la cantidad"></ion-input>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-button shape="round" color="danger" routerLink="/members/recepcion-sap" expand="block">
        Cancelar
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button shape="round" expand="block" (click)="capturarDatos()">
        Aceptar
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>

<ion-footer>
  <ion-toolbar color="dark">
    <ion-buttons slot="start" routerLink="/members/home">
      <ion-button>
        <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="chatbubbles"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
