<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button routerLink="/members/recepcion"></ion-back-button>
    </ion-buttons>
    <ion-title>Recepcion de Mercancia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label color="primary">Orden de Compra</ion-label>
        {{this.productData.num}}
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="productData">
    <ion-col>
      <ion-list inset="true">
        <ion-item color="light">
          <ion-label>
            <ion-text color="dark">
              <h3>Codigo Prothevs: {{productData.codigo_prothevs}}</h3>
            </ion-text>
          </ion-label>
        </ion-item>
        <ion-item color="primary">
          <ion-label>
            <ion-text color="light">
              <h3>Descripcion: </h3>
            </ion-text>
            <p>{{productData.descripcion}}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-button shape="block" expand="full" color="light">
          <ion-icon slot="icon-only" name="barcode"> </ion-icon>
        </ion-button>
        <ion-label color="primary">SKU/UPC</ion-label>
        <ion-input [(ngModel)]="codigoBarra" name="codigoBarra" placeholder="Escribe o Escanea un producto"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-button shape="block" expand="full" color="light">
          <ion-icon slot="icon-only" name="cart"> </ion-icon>
        </ion-button>
        <ion-label color="primary">Cantidad</ion-label>
        <ion-input [(ngModel)]="cantidad" name="cantidad" type="number" placeholder="Ingresa la cantidad"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="productData.needLote != 0">
    <ion-label color="primary">Lote</ion-label>
    <ion-input [(ngModel)]="lote" name="lote" placeholder="Ingresa el lote"></ion-input>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button shape="block" color="secondary" (click)="scannProduct()">Registrar</ion-button>
    </ion-col>
  </ion-row>
  <ion-row style="background-color: cadetblue">
    <ion-col size="6" class="ion-padding">
      SKU/UPC
    </ion-col>
    <ion-col size="4" class="ion-padding">
      Cantidad
    </ion-col>
    <ion-col *ngIf="productData.needLote != 0" class="ion-padding">
      Lote
    </ion-col>
    <ion-col size="1" class="ion-padding">
      &nbsp;
    </ion-col>
  </ion-row>
  <ion-row *ngFor="let scanned of productData.detalle;let index = index">
    <ion-col size="6" class="ion-padding">
      {{scanned.codigobarras}}
    </ion-col>
    <ion-col size="4" class="ion-padding">
      {{scanned.cantidad}}
    </ion-col>
    <ion-col size="1">
      <ion-button color="danger" (click)="eliminarRegistro(index)">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button shape="round" color="danger" routerLink="/members/recepcion" expand="block">
        Cancelar
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button shape="round" expand="block" (click)="receptionProducts()">
        Aceptar
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>

<ion-footer>
  <ion-toolbar color="dark">
    <ion-buttons slot="start" routerLink="/members/profile">
      <ion-button>
        <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="chatbubbles"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>