<ion-header>
  <ion-toolbar class="tool-bar">
    <ion-buttons slot="start">
      <ion-back-button routerLink="/members/recepcion"></ion-back-button>
    </ion-buttons>
    <ion-title>Recepcion de Mercancia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row>
    <ion-col>
      <ion-item lines="none">
        <ion-label>Modo de Recepcion</ion-label>
        <ion-toggle [(ngModel)]="modo"></ion-toggle>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="productData">
    <ion-col>
      <h6>Datos de Producto</h6>
      <ion-item lines="none" class="container-item">
        Codigo Prothevs: {{productData.codigo_prothevs}}<br>
        Descripcion: {{productData.descripcion}}
      </ion-item>
    </ion-col>
  </ion-row>

  <form (ngSubmit)="scannProduct()" *ngIf="!this.modo">
    <ion-row>
      <ion-col>
        <h6>Escanea codigo de barra.</h6>
        <ion-input class="product-scann" [(ngModel)]="codigoBarra" name="codigoBarra"
          placeholder="Escribe o Escanea un producto"></ion-input>
      </ion-col>
      <ion-col>
        <h6>Ingresar cantidad recibida.</h6>
        <ion-input class="product-scann" [(ngModel)]="cantidad" name="cantidad" type="number"
          placeholder="Ingresa la cantidad"></ion-input>
      </ion-col>
    </ion-row>
    <ion-button type="submit" shape="round" expand="full" class="registrar-button">Registrar</ion-button>
  </form>


  <ion-row *ngIf="this.modo">
    <ion-col>
      <h6>Escanea codigo de barra de producto.</h6>
      <ion-input [(ngModel)]="eventCodeBar" name="eventCodeBar" class="product-scann" type="number"
        placeholder="Escanea el Codigo de Barra" (ionChange)="scannOnChange($event)" debounce="500">
      </ion-input>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="productData.needLote != 0">
    <ion-col>
      <h6>Ingresa lote de producto.</h6>
      <ion-input [(ngModel)]="lote" name="lote" class="product-scann" placeholder="Ingresa el lote"></ion-input>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="productData.detalle != ''">
    <ion-col>
      <h6>Producto Escaneado</h6>
    </ion-col>
  </ion-row>

  <ion-row *ngFor="let scanned of productData.detalle;let index = index">
    <ion-col>
      <ion-item lines="none" class="item-format">
        <div class="text-format">Codigo de Barra
          <br>
          <span>{{scanned.codigobarras}}</span>
          Cantidad
          <br>
          <span>{{scanned.cantidad}}</span>
        </div>
        <div class="delete-button">
          <ion-button size="small" color="danger" (click)="presentDialog(index)">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-button>
        </div>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <h6>Tarimas Creadas</h6>
      <div class="tarima-button">
        <ion-button shape="round" class="add-button" (click)="openModal()">
          Agregar tarima
        </ion-button>
      </div>
    </ion-col>
  </ion-row>

  <ion-row *ngFor="let tarima of productData.tarimas; let index = index">
    <ion-col>
      <ion-item lines="none" class="item-format">
        <div class="text-format">Codigo Master
          <br>
          <span>{{tarima.codigo_master}}</span>
          Cantidad
          <br>
          <span>{{tarima.cantidad}}</span>
        </div>
        <div class="delete-button">
          <ion-button size="small" color="danger" (click)="eliminarRegistroTarima(index)">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-button>
        </div>
      </ion-item>
    </ion-col>
  </ion-row>

  <!-- <ion-row *ngIf="productData.detalle.length != 0">
    <ion-col>
      <ion-button expand="full" shape="round" class="registrar-button" (click)="openModal()">
        Crear Tarima Master
      </ion-button>
    </ion-col>
  </ion-row> -->

  <ion-row>
    <ion-col>
      <ion-button shape="round" color="danger" routerLink="/members/recepcion" expand="block">
        Cancelar
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button shape="round" expand="block" (click)="receptionProducts()">
        Aceptar
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>

<ion-footer>
  <ion-toolbar color="dark">
    <ion-buttons slot="start" routerLink="/members/home">
      <ion-button>
        <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="chatbubbles"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>