ion-content{
  --background: #e6eced;
} 

ion-toolbar.tool-bar{
     --background: #160ff2;
     --color: #ffffff;
}

ion-button.tarima-button{
     --background: #160ff2;
}

ion-button.aceptar-button{
    --background: #160ff2;
}


ion-input.product-scann{
     border: 2px solid #000000;
     border-radius: 5pc;
     margin-bottom: 5px;
     border-color: #86c1d1;
     --background: #ffffff;
}

ion-datetime.product-scann{
     border: 2px solid #000000;
     border-radius: 5pc;
     margin-bottom: 5px;
     border-color: #86c1d1;
     --background: #ffffff;
}

ion-item.item-format{
    border: 2px solid #000000;
    border-color: #86c1d1;
    border-radius: 4px;
    min-width: -webkit-fill-available;
}

div.delete-button{
    position: absolute;
    right:    0;
    bottom:   0;
}

div.text-format{
     color: #160ff2;
     font-size: 14px;
     font-weight: bold;
}

div span{
    display: table;
    color: #000000;
    font-size: 12px;
    font-weight: normal;
}

h6{
     font-family: 'Franklin Gothic Medium';
}