<ion-header>
  <ion-toolbar class="tool-bar">
    <ion-buttons slot="start">
      <ion-back-button routerLink="/members/transferencia-sap"></ion-back-button>
    </ion-buttons>
    <ion-title>Transferencia de Mercancia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row *ngIf="productData">
    <ion-col>
      <h6>Datos de Producto</h6>
      <ion-item lines="none" class="container-item">
        Codigo: {{productData.ItemCode}}<br>
        Nombre: {{productData.ItemName}}<br>
        Stock: {{stock | number}}
      </ion-item>
    </ion-col>
  </ion-row>

  <form>
    <h6>Ingresa Tarima</h6>
    <ion-row>
      <ion-col>
        <ion-input class="product-scann" maxlength="5" [(ngModel)]="tarima" name="tarima" placeholder="Ingresa Tarima"
          required></ion-input>
      </ion-col>
    </ion-row>

    <h6>Ingresar cantidad a transferir.</h6>
    <ion-row>
      <ion-col>
        <ion-input class="product-scann" [(ngModel)]="cantidad" name="cantidad" type="number"
          placeholder="Ingresa la cantidad"></ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button shape="round" color="danger" routerLink="/members/transferencia-sap" expand="block">
          Cancelar
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button shape="round" expand="block" (click)="transferAbarrotes()">
          Aceptar
        </ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>

<ion-footer>
  <ion-toolbar color="dark">
    <ion-buttons slot="start" routerLink="/members/home">
      <ion-button>
        <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="chatbubbles"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>