ion-row.table{
    background:  #160ff2;
    color: #ffffff;
    font-family: 'Franklin Gothic Medium';
}

ion-content{
    --background: #e6eced; 
  } 

  ion-toolbar.tool-bar{
    --background: #160ff2;
    --color: #ffffff;
}