<ion-header>
  <ion-toolbar class="tool-bar">
    <ion-buttons slot="start">
      <ion-back-button routerLink="/members/etiquetas"></ion-back-button>
    </ion-buttons>
    <ion-title>Etiquetas Ubicaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <h6>Almacén</h6>
      <ion-select class="product-scann" [(ngModel)]="almacen">
        <ion-select-option  *ngFor="let a of almacenes" value= "{{a.WhsCode}}">{{a.WhsName}}</ion-select-option>
      </ion-select> 
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <h6>Sección</h6>
      <ion-input class="input-recepcion" placeholder="Sección" [(ngModel)]="seccion" name="seccion">
      </ion-input>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <h6>Pasillo</h6>
      <ion-input class="input-recepcion" placeholder="Pasillo" [(ngModel)]="pasillo" name="pasillo">
      </ion-input>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <h6>Estante</h6>
      <ion-input class="input-recepcion" placeholder="Estante" [(ngModel)]="rack" name="rack">
      </ion-input>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <h6>Número de Niveles</h6>
      <ion-input class="input-recepcion" placeholder="Nivel" [(ngModel)]="nivel" name="nivel">
      </ion-input>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <h6>Número de Posiciones</h6>
      <ion-input class="input-recepcion" placeholder="Posicion" [(ngModel)]="posicion" name="posicion">
      </ion-input>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button expand="full" class="search-order-button" (click)="printLabel()">Generar Etiqueta</ion-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-card *ngIf="createdCode">
        <ngx-qrcode [value]="createdCode"></ngx-qrcode>
        <ion-card-content>
          <p>Value: {{ createdCode }} </p>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>