<ion-header>
  <ion-toolbar class="tool-bar">
    <ion-buttons slot="start">
      <ion-back-button routerLink="/members/surtido-sap"></ion-back-button>
    </ion-buttons>
    <ion-title>Surtido de Mercancia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row *ngIf="productData">
    <ion-col>
      <h6>Datos de Producto</h6>
      <ion-item lines="none" class="container-item">
        Item Code: {{productData.ItemCode}}<br />
        Descripcion: {{productData.ItemName}}<br />
        Ctd Pendiente: {{productData.OpenQty}} {{productData.UomCode}} <br />
        Stock: {{stock | number}}
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <h6>Selecciona Una Unidad de Medida</h6>
      <ion-select class="product-scann" [(ngModel)]="uom" name="uom">
        <ion-select-option *ngFor="let um of productData.Uoms" [value]="um"
          >{{um.UomCode}}</ion-select-option
        >
      </ion-select>
    </ion-col>
  </ion-row>

  <h6>Ingresar cantidad a surtir.</h6>
  <ion-row>
    <ion-col>
      <ion-input
        class="product-scann"
        [(ngModel)]="cantidad"
        name="cantidad"
        type="number"
        placeholder="Ingresa la cantidad"
      ></ion-input>
    </ion-col>
  </ion-row>

  <!-- <h6>Surtiendo</h6>
  <ion-row class="table">
    <ion-col size="3"> Cantidad </ion-col>
    <ion-col> Unidad de Medida </ion-col>
    <ion-col size="2.5"> Accion </ion-col>
  </ion-row> -->

  <!-- <ion-row
    class="text-content"
    *ngFor="let delivery of DeliveryRowDetailList; let index of index"
  >
    <ion-col size="3"> {{delivery.Count | number }} </ion-col>
    <ion-col> {{delivery.uom}} </ion-col>
    <ion-col size="2.5">
      <ion-button
        color="danger"
        (click)="eliminarProducto(index)"
        class="button-eliminar"
      >
        <ion-icon slot="icon-only" name="close-circle"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row> -->

  <!-- <ion-row *ngFor="let delivery of productsToDeliver; let index of index">
    <ion-col>
      <ion-item lines="none" class="container-item">
        {{delivery.quantity}} {{delivery.uom}}
        <ion-button color="danger"  class="button-eliminar">
          <ion-icon slot="icon-only" name="close-circle"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-col>
  </ion-row> -->

  <!-- <ion-row *ngIf="uom && cantidad">
    <ion-col> Total: {{totalInUnitBase}} {{uom.BaseUom}} </ion-col>
  </ion-row> -->

  <ion-row>
    <ion-col>
      <ion-button
        shape="round"
        color="danger"
        routerLink="/members/surtido-sap"
        expand="block"
      >
        Cancelar
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button shape="round" expand="block" (click)="acceptRecepton()">
        Aceptar
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>

<ion-footer>
  <ion-toolbar color="dark">
    <ion-buttons slot="start" routerLink="/members/home">
      <ion-button>
        <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="chatbubbles"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
