<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="icon-only" name="settings"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button color="light" routerLink="/members/recepcion">
          <img src="../../../assets/icon/recepcion.png" alt="">
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="light">
          <img src="../../../assets/icon/ubicar.png" alt="">
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="light">
          <img src="../../../assets/icon/surtido.png" alt="">
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button color="light">
          <img src="../../../assets/icon/inventario.png" alt="">
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="light">
          <img src="../../../assets/icon/ubicaciones.png" alt="">
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="light">
          <img src="../../../assets/icon/ciclico.png" alt="">
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button color="light">
          <img src="../../../assets/icon/tarimas.png" alt="">
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="light">
          <img src="../../../assets/icon/entregas.png" alt="">
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="light">
          <img src="../../../assets/icon/busqueda_producto.png" alt="">
        </ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button routerLink="/members/profile">
        <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="chatbubbles"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>