<ion-header>
  <ion-toolbar class="tool-bar">
    <ion-buttons slot="start">
      <ion-back-button
        routerLink="/members/transferencia-sap"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>Transferencia de Mercancia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row *ngIf="productData">
    <ion-col>
      <h6>Datos de Producto</h6>
      <ion-item lines="none" class="container-item">
        Codigo: {{productData.ItemCode}}<br />
        Nombre: {{productData.ItemName}}<br />
      </ion-item>
    </ion-col>
  </ion-row>

  <h6>Selecciona Un Lote</h6>
  <ion-row>
    <ion-col>
      <ion-select (ionChange)="triggerQty()" class="product-scann" [(ngModel)]="batchNum">
        <ion-select-option *ngFor="let lote of batchs" value="{{lote.BatchNum}}"
          >{{lote.BatchNum.substr(lote.BatchNum.length - 5)}} - {{lote.Quantity
          | number}}</ion-select-option
        >
      </ion-select>
    </ion-col>
  </ion-row>

  <!-- <ion-row>
    <ion-col>
      <h6>Selecciona Una Unidad de Medida</h6>
      <ion-select class="product-scann" [(ngModel)]="uom" name="uom">
        <ion-select-option *ngFor="let um of productData.Uoms" [value]="um">{{um.UomCode}}</ion-select-option>
      </ion-select>
    </ion-col>
  </ion-row> -->

  <h6>Ingresa Numero De Tarima</h6>
  <ion-row>
    <ion-col>
      <ion-input
        class="product-scann"
        maxlength="5"
        [(ngModel)]="tarima"
        name="tarima"
        placeholder="Ingresa Tarima"
      ></ion-input>
    </ion-col>
  </ion-row>

  <h6>Ingresa Cantidad A Transferir.</h6>
  <ion-row>
    <ion-col>
      <ion-input
        class="product-scann"
        [(ngModel)]="cantidad"
        name="cantidad"
        type="number"
        (ionChange)="addLote()"
        debounce="1000"
        placeholder="Ingresa la cantidad"
      ></ion-input>
    </ion-col>
  </ion-row>

  <h6 *ngIf="loteAEnviar">Lotes</h6>
  <ion-row *ngFor="let lote of loteAEnviar; let index = index">
    <ion-col>
      <ion-item lines="none" class="container-item">
        Lote: {{lote.Code}}<br />
        Cantidad: {{lote.Quantity}}<br />
        <ion-button
          color="danger"
          (click)="eliminarLote(index)"
          class="button-eliminar"
        >
          <ion-icon slot="icon-only" name="close-circle"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-button
        shape="round"
        color="danger"
        routerLink="/members/transferencia-sap"
        expand="block"
      >
        Cancelar
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button shape="round" expand="block" (click)="transferAbarrotes()">
        Aceptar
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>

<ion-footer>
  <ion-toolbar color="dark">
    <ion-buttons slot="start" routerLink="/members/home">
      <ion-button>
        <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="chatbubbles"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
