<ion-header>
  <ion-toolbar class="tool-bar">
    <ion-buttons slot="start">
      <ion-back-button routerLink="/members/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Impresion Etiquetas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item detail="true" routerLink="/members/etiquetas-transferencias">
      Transferencias
    </ion-item>
    <ion-item detail="true" routerLink="/members/consumointerno">
      Consumo Interno
    </ion-item>
    <ion-item detail="true" routerLink="/members/locationlabels">
      Ubicaciones
    </ion-item>
  </ion-list>
</ion-content>