<ion-header>
  <ion-toolbar class="tool-bar">
    <ion-buttons slot="start">
      <ion-back-button routerLink="/members/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Ubicaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <h6>Escanea codigo en etiqueta de rack.</h6>
      <ion-input [(ngModel)]="rackCode" name="rackCode" class="form-tarima" placeholder="Escanea etiqueta rack."
        debounce="500" (ionChange)="findLocation($event)"></ion-input>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="tarimaInfo">
    <ion-col>
      <h6>Datos de Tarima</h6>
      <ion-item lines="none" class="item-format">
        <div class="text-format">
          Codigo Master
          <br>
          <span>{{tarimaInfo.codigobarras_master}}</span>
          Codigo Proteus
          <br>
          <span>{{tarimaInfo.codigoProtevs}}</span>
          Nombre de Producto
          <br>
          <span>{{tarimaInfo.name}}</span>
        </div>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="tarimaInfo">
    <ion-col>
      <ion-button color="danger" expand="full" (click)="deleteMasterFromLocation()" shape="round">Quitar Tarima
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>

<ion-footer>
  <ion-toolbar color="dark">
    <ion-buttons slot="start" routerLink="/members/home">
      <ion-button>
        <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="chatbubbles"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>