<ion-header>
  <ion-toolbar class="tool-bar">
    <ion-buttons slot="start">
      <ion-back-button routerLink="/members/surtido"></ion-back-button>
    </ion-buttons>
    <ion-title>Surtido</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-row *ngIf="productInfo">
    <ion-col>
      <h6>Datos de Producto</h6>
      <ion-item lines="none" class="container-item">
        Codigo Prothevs: {{productInfo.codigoProtevs}}<br>
        Descripcion: {{productInfo.product_name}}
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <h6>Escanea codigo de barra de producto.</h6>
      <ion-input [(ngModel)]="eventCodeBar" name="eventCodeBar" class="product-scann" type="number"
        placeholder="Escanea el Codigo de Barra" (ionChange)="scannOnChange($event)" debounce="500">
      </ion-input>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <h6>Cantidad Escaneada: {{cantidadReg}}</h6>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button shape="round" color="danger" routerLink="/members/surtido" expand="block">
        Cancelar
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button shape="round" expand="block" (click)="surtirProducts()">
        Aceptar
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>

<ion-footer>
  <ion-toolbar color="dark">
    <ion-buttons slot="start" routerLink="/members/home">
      <ion-button>
        <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="chatbubbles"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>