<ion-header>
  <ion-toolbar class="tool-bar">
    <ion-buttons slot="start">
      <ion-back-button routerLink="/members/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Scanneado para Inventario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row *ngIf="!order">
    <ion-col>
      <ion-item lines="none">
        <ion-label>Modo de busqueda</ion-label>
        <ion-toggle [(ngModel)]="searchType"></ion-toggle>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="!order && !searchType">
    <ion-col>
      <h6>Ingresa codigo de producto.</h6>
      <form (ngSubmit)="getOrdenByCode()">
        <ion-input class="input-recepcion" placeholder="Codigo de Producto" [(ngModel)]="number" name="number">
        </ion-input>
        <ion-button type="submit" class="search-order-button" expand="full">
          Buscar
        </ion-button>
      </form>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="!order && searchType">
    <ion-col>
      <h6>Escanea codigo de barra.</h6>
      <ion-input (ionChange)="searchProductByCb()" [(ngModel)]="search" debounce="200" name="search" class="input-recepcion" placeholder="Codigo de Barra">
      </ion-input>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="order">
    <ion-col>
      <h6>Datos de Producto</h6>
      <ion-item lines="none" class="container-item">
        Codigo: {{order.detail.ItemCode}}<br>
        Nombre: {{order.detail.ItemName}}
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="order && order.detail.U_IL_TipPes == 'F'">
    <ion-col>
      <h6>Unidad de Medida</h6>
      <ion-select class="product-scann" [(ngModel)]="uom" name="uom" >
        <ion-select-option *ngFor="let um of order.uom"  [value]="um">{{um.UomCode}}</ion-select-option>
      </ion-select>
    </ion-col>
  </ion-row>


  <ion-row *ngIf="order && order.detail.U_IL_TipPes == 'V'">
    <ion-col>
      <h6>Codigo de Barra</h6>
      <ion-input class="input-recepcion" id="input-codigo" placeholder="Codigo de Barra" [(ngModel)]="codigoBarra"
        name="codigoBarra" (ionChange)="getData()" debounce=400>
      </ion-input>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="order && order.detail.U_IL_TipPes == 'F'">
    <ion-col size="2">
      <h6>Cajas</h6>
      <ion-input class="input-recepcion" type="number" [(ngModel)]="cantidad"
        name="cantidad" (ionChange)="calculateTotal()" debounce="200">
      </ion-input>
    </ion-col>
    <ion-col size="1">
      <h6>X</h6> 
    </ion-col>
    <ion-col size="3">
      <h6>UB</h6>
      <ion-input class="input-recepcion" [ngModel]="uom?.BaseQty" disabled></ion-input>
    </ion-col>
    <ion-col size="1">
      <h6>=</h6>
    </ion-col>
    <ion-col size="5">
      <h6>Total</h6>
      <ion-input type="number" [(ngModel)]="total"
      name="total" class="input-recepcion" disabled></ion-input>
    </ion-col>
  </ion-row>

  <h6 *ngIf="order && order.detail.U_IL_TipPes == 'V'">Cajas Contadas: {{cajasEscaneadas}}</h6>

  <ion-row *ngIf="order && order.detail.U_IL_TipPes == 'F'">
    <ion-col>
      <ion-button class="search-order-button" shape="round" expand="block" (click)="sendPesoFijo()">
        Enviar
      </ion-button>
    </ion-col>
  </ion-row>



  <ion-row *ngFor="let prod of detail">
    <ion-col>
      <ion-item lines="none" class="container-item">
        Name: {{prod.visual}}<br>
        peso: {{prod.CantidadBase}}
      </ion-item>
    </ion-col>
  </ion-row>





</ion-content>